html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px

    }
body {
	text-align: center;
	font-family: 'Fedoka One' sans-serif;
}

h1, p {color: #00b1cb; /*font-family: 'Fedoka One' sans-serif;*/}
h1 {margin-top: 70px;}
p {margin-bottom: 30px;}

#userInput, #newInput, #search {
	text-align: center; 
	margin: 7px; 
	border-radius: 10px;
	border-color: #00b1cb;
}
#userInput {width: 130px; height: 20px;}
#newInput {width: 300px; height: 80px;}
button {
	width: 40px;
	height: 70px;
	padding-bottom: 30px;
	background-color: white;
	background: url('airplane.png') no-repeat;
	background-size: 30px;
	background-position: 0px 30px;
}


#map {
}
